# Python
__pycache__/
*.py[cod]
*.pyo
*.pyd
*.pyc
*.so

# Virtual environments
venv/
.venv/

# Environment variables
.env

# Caches and outputs
cache/
outputs/

# Notebooks
.ipynb_checkpoints/

# OS/editor
.DS_Store
Thumbs.db
.vscode/
